.FoodPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.FoodPage img {
  width: 100%;
  max-height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;

}

.foodContent {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foodContent p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 16px;
}

.foodContent p a {
  color: #0073e6;
  text-decoration: none;
}

.foodContent p a:hover {
  text-decoration: underline;
}

.foodContent p {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.foodContent>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.analyzedInstructions ul,
.ingredients ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.analyzedInstructions li,
.ingredients li {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
}

.analyzedInstructions h3,
.ingredients h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ingredients {
  flex: 1;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.analyzedInstructions {
  flex: 1.5;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}