.NewRecipeForm {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.NewRecipeForm label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.NewRecipeForm input[type="text"],
.NewRecipeForm input[type="number"],
.NewRecipeForm textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.ingredientsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ingredients {
  flex: 1;
  margin-right: 10px;
}

.addButton {
  margin-bottom: 20px;
}

.NewRecipeForm button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.NewRecipeForm button:hover {
  background-color: #0056b3;
}

.bi-trash {
  margin-left: 5px;
}

.submitButton {
  background-color: #28a745;
}

.submitButton:hover {
  background-color: #218838;
}

.NewRecipeForm p {
  color: red;
}

